<% layout('layouts/boilerplate') %>
    <div class="container py-4">
        <div id="failed" class="p-5 mb-4 rounded-3">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">Denied Access!</h1>
                <p class="col-md-8 fs-4">You've been denied access to this household by the user.</p>
                <p class="col-md-8 fs-4">Try contacting the user again!</p>
                <a class="btn btn-light" href="/verification/owner-verify">Try Again</a>
            </div>
        </div>
    </div>