<% layout('layouts/boilerplate') %>
    <div class="container">
        <h2>
            Real-time Communication with Home-owner<span id="status" class="badge bg-secondary">Connecting...</span>
        </h2>
    </div>