<% layout('layouts/boilerplate') %>
    <div class="container py-4">
        <div id="success" class="p-5 mb-4 rounded-3">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">Welcome back!</h1>
                <p class="col-md-8 fs-4">You've been successfully granted access to this household.</p>
                <p class="col-md-8 fs-4">Stay safe!</p>
            </div>
        </div>
    </div>